OES_HOST=127.0.0.1
OES_PORT=8787
OES_DATA_DIR=data/output/oes_agent
OES_GRAPH_TENANT_ID=common
OES_GRAPH_CLIENT_ID=
OES_GRAPH_SCOPES=User.Read,Mail.Read,Mail.ReadWrite,Mail.Send,Calendars.ReadWrite,Tasks.ReadWrite,offline_access
OES_BACKGROUND_SYNC_ENABLED=true
OES_BACKGROUND_SYNC_MINUTES=15
OES_MORNING_SUMMARY_ENABLED=true
OES_MORNING_SUMMARY_HOUR=7
OES_MORNING_SUMMARY_MINUTE=0
OPENAI_API_KEY=
OES_OPENAI_MODEL=gpt-4.1-mini